/* CSS files add styling rules to your content */

*{
  margin: 40px;
  padding: 80px;
  border: 30px;
}
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}
h1 {
  font-style: italic;
  color: #373fff;
}
header{
   background-color: pink;
   padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section{
  background-color: blue;
}
main{
  background-color: red;
      margin-left: 30%;
}
nav{
  background-color: orange;
  float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}
article{
  
  float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}
footer{
  
  background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


